.env
node_modules
*yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/**/.yarn/*
integration-tests/**/.yarn/*
www/**/.yarn/*

packages/**/plugins/**/.medusa/

.DS_Store

.eslintcache

.idea
.turbo
build/**
dist/**
**/dist
**/stats
.favorites.json
.vscode

**/tsconfig.tsbuildinfo

# Cache File
/packages/**/.cache

.cursorignore
**/.medusa

#DATA FILES
restore_final.sql
restore.sql
my_database_tabls.md
schema.md/*
client_secret_1043468404870-u1a4d4f742o7t9kvke00d4faos1qakb0.apps.googleusercontent.com.json