/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache
schema.md
client_secret_1043468404870-u1a4d4f742o7t9kvke00d4faos1qakb0.apps.googleusercontent.com.json/*

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Medusa build and temporary files
.medusa/
dist/
node_modules/
.env